.projeto {
  width: 100%;
  max-width: 65rem;
  display: flex;
  align-items: center;
  border: 0.05rem solid #ddd;
  overflow: hidden;
}

.projeto:nth-child(even) {
  flex-direction: row-reverse;
}

.projeto:nth-child(odd) {
  flex-direction: row;
}

.projeto-imagem {
  width: 30rem;
  height: 15rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.projeto-info {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.projeto-title {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}

.projeto-descricao {
  font-size: 0.9rem;
  color: #3D3D3D;
  margin-top: 0.5rem;
  text-align: justify;
}

@media (max-width: 768px) {
  .projeto {
    width: 90%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .projeto-imagem {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .projeto-info {
    margin: 1rem;
  }

  .projeto-title {
    font-size: 1.2rem;
  }
}