.texto-ps {
    width: 100%;
    padding: 3rem 0rem;
    text-align: center;
    color: #3D3D3D;
    margin-top: -2rem;
  }
  
.texto-ps h2 {
  margin-top: 0.5rem;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  color: var(--azul-principal);
}

.texto-ps p {
  text-align: justify;
  font-size: 1.1rem;
  line-height: 1.6;
  max-width: 900px;
  margin: 0 auto;
  color: #3D3D3D;
}
  
@media (max-width: 768px) {
  .texto-ps {
    width: 80%;
    margin: 0 auto;
  }

  .texto-ps h2 {
    font-size: 2.5rem;
  }
}